@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://as01.epimg.net/deporteyvida/imagenes/2021/01/10/portada/1610275621_080329_1610275866_noticia_normal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 45rem;
}

